<div style="display:flex;">
    <div class="d-flex flex-column align-items-center">
        <div>
            <img src="images/watch.png" alt="" class="img-fluid">
        </div>
        <div class="d-flex mt-3 justify-content-center">
            <h3 class="mr-3">Watch</h3>
        </div>
        <div class="d-flex align-items-center">
            <span class="h3 font-weight-bold ml-3">$25</span>
        </div>
        <div class="d-flex mt-3">
            <button class="btn btn-primary mr-3" ng-click="addToCart({name: 'watch', price: 25}, watchQuantity)"
                ng-model="watchQuantity=1">Thêm vào
                giỏ hàng</button>
        </div>
    </div>


    <div class="d-flex flex-column align-items-center mt-5">
        <div>
            <img src="images/apw.jpg" alt="" class="img-fluid">
        </div>
        <div class="d-flex mt-3 justify-content-center">
            <h3 class="mr-3">apple watch</h3>
        </div>
        <div class="d-flex align-items-center">
            <span class="h3 font-weight-bold ml-3">$20</span>
        </div>
        <div class="d-flex mt-3">
            <button class="btn btn-primary mr-3" ng-click="addToCart({name: 'apple watch', price: 20}, apwQuantity)"
                ng-model="apwQuantity=1">Thêm
                vào giỏ hàng</button>
        </div>
    </div>


    <div class="d-flex flex-column align-items-center mt-5">
        <div>
            <img src="images/laptop.jpg" alt="" class="img-fluid">
        </div>
        <div class="d-flex mt-3 justify-content-center">
            <h3 class="mr-3">Laptop</h3>
        </div>
        <div class="d-flex align-items-center">
            <span class="h3 font-weight-bold ml-3">$100</span>
        </div>
        <div class="d-flex mt-3">
            <button class="btn btn-primary mr-3" ng-click="addToCart({name: 'laptop', price: 100}, lapQuantity)"
                ng-model="lapQuantity=1">Thêm
                vào giỏ hàng</button>
        </div>
    </div>

    <div class="d-flex flex-column align-items-center mt-5">
        <div>
            <img src="images/s21.jpg" alt="" class="img-fluid">
        </div>
        <div class="d-flex mt-3 justify-content-center">
            <h3 class="mr-3">samsung galaxy S21</h3>
        </div>
        <div class="d-flex align-items-center">
            <span class="h3 font-weight-bold ml-3">$200</span>
        </div>
        <div class="d-flex mt-3">
            <button class="btn btn-primary mr-3" ng-click="addToCart({name: 'samsung galaxy S21', price: 200}, s21Quantity)"
                ng-model="s21Quantity=1">Thêm
                vào giỏ hàng</button>
        </div>
    </div>

    <div class="d-flex flex-column align-items-center mt-5">
        <div>
            <img src="images/bphone.jpg" alt="" class="img-fluid">
        </div>
        <div class="d-flex mt-3 justify-content-center">
            <h3 class="mr-3">điện thoại Bphone</h3>
        </div>
        <div class="d-flex align-items-center">
            <span class="h3 font-weight-bold ml-3">$50</span>
        </div>
        <div class="d-flex mt-3">
            <button class="btn btn-primary mr-3" ng-click="addToCart({name: 'điện thoại Bphone', price: 50}, bphoneQuantity)"
                ng-model="bphoneQuantity=1">Thêm
                vào giỏ hàng</button>
        </div>
    </div>

    <div class="d-flex flex-column align-items-center mt-5">
        <div>
            <img src="images/tvss1.jpg" alt="" class="img-fluid">
        </div>
        <div class="d-flex mt-3 justify-content-center">
            <h3 class="mr-3">Tivi Samsung 70 inch</h3>
        </div>
        <div class="d-flex align-items-center">
            <span class="h3 font-weight-bold ml-3">$450</span>
        </div>
        <div class="d-flex mt-3">
            <button class="btn btn-primary mr-3" ng-click="addToCart({name: 'Tivi Samsung 70 inch', price: 450}, tvss1Quantity)"
                ng-model="tvss1Quantity=1">Thêm
                vào giỏ hàng</button>
        </div>
    </div>
</div>